
<body>
    <div class='wrapper' id='wrapper'>
        <div class='line_menu' id='line_menu'>
            <img src="./img/logo.png" alt="" class='logo'>
            <a class='main_but' href='#home'>Main</a>
            <a class='pokemon_but' href='#about'>Pokemon</a>
        </div>
        <div class='wrapper_card'>
            <div class='card'>
                <div class='photo_inf'>
                    <img src="./img/photo.jpg" alt="" class='photo'>
                    <div class='info_right'>
                        <div class='name_inf'>
                            <h1 class='name'>Maxim</h1>
                            <h1 class='second_name'>Bashilov</h1>
                        </div>
                        <div class='phone_inf'>
                            <h1 class='phone_title'>PHONE</h1>
                            <h2 class='phone'>+7-911-140-01-01</h2>
                        </div>
                        <div class='line'></div>
                    </div>
                </div>
                <div class='info'>
                    <div class='email_inf'>
                        <h1 class='email_title'>EMAIL</h1>
                        <h2 class='email'>maxim.bashilov@yandex.ru</h2>
                    </div>
                    <div class='git_inf'>
                        <h1 class='git_title'>GIT</h1>
                        <h2 class='git'>https://github.com/Maximus135</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
